$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {
  margin-bottom: 25px;

  $block-name:                &;
  // #{$block-name}__element

  &__list {
    padding: 0;
    list-style: none;
    margin: 0;
  }


  &__item {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '|';
      display: inline-block;
      margin-left: 0.8em;
      font-weight: 700;
      color: $text-muted;
    }

    &:last-child {

      #{$block-name}__link {
        color: $main-color;
      }
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    color: $text-muted;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $main-color;
      text-decoration: none;
    }
  }
}
