.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  min-width: 38px;
  min-height: 38px;
  margin: 0;
  padding: 5px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: $font-size;
  font-family: inherit;
  font-weight: 700;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $icon-color;
  border-radius: $border-radius;
  border: $border-btn;
  background-color: $white;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $main-color;
    border-color: $main-color;
  }

  &:active,
  &:focus {
    box-shadow: $shadow;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--icon {
    position: relative;
    color: $icon-color;

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      fill: currentColor;
    }
  }

  &--main {
    position: relative;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 45px;
    text-align: left;
    color: $white;
    background-color: $main-color;
    border-color: $main-color;

    &::after {
      display: block;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 13px;
      height: 15px;
      background: svg-load('../blocks/sprite-svg/svg/right-arrow.svg', fill=$white, stroke=rgba(255, 255, 255, 0));
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:hover,
    &:focus {
      //color: $main-color;
      background-color: $main-color--hover;
      border-color: $main-color--hover;
    }

    &--disabled,
    &:disabled {
      color: $text-muted !important;
      background-color: $body-bg !important;
      border-color: $body-bg !important;
    }
  }

  &--readmore {
    position: relative;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 45px;
    text-align: left;
    color: $title-color;
    background-color: $white;
    border-color: $white;

    &::after {
      display: block;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 13px;
      height: 15px;
      background: svg-load('../blocks/sprite-svg/svg/right-arrow.svg', fill=$main-color, stroke=rgba(255, 255, 255, 0));
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &:hover,
    &:focus {
      color: $main-color;
      background-color: $white;
      border-color: $white;
    }
  }
}
