$gray-lightest:               hsl(0, 0%, 90%) !default;

$text-color:                  hsl(0, 0%, 10%) !default;
$text-color--muted:           hsl(0, 0%, 50%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

$line-height:                 1.375em !default;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

.tabs {

  $block-name:                &; // #{$block-name}__element

  // margin-top: $line-height;
  // margin-bottom: $line-height;

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //align-items: flex-end;
    cursor: pointer;

    .no-js & {
      display: none;
    }

    /* &:after {
      content: '';
      flex-grow: 1;
      height: 1px;
      background-color: $border-color;
    } */
  }

  &__link-wrap {
    //flex-grow: 1;
    position: relative;
    width: calc(50% - 7px);
    margin-bottom: 15px;

    &:not(:last-child) {
      border-right: none;
    }

    &--active {

      #{$block-name}__link {
        color: $white;
        background-color: $main-color;
      }
    }
  }

  &__link {
    display: block;
    $font-size: 12px;
    font-size: $font-size;
    line-height: $font-size * 2;
    text-decoration: none;
    white-space: nowrap;
  }

  &__content-wrapper {
    display: block;
    padding: 10px;
  }

  &__content-item {

    .js & {
      display: none;
    }

    &--active {

      .js & {
        display: block;
      }
    }
  }

  &__col-left {
    @include col(xs, 12, $grid-columns, 20px);
    @include col(md, 4);
  }

  &__col-right {
    @include col(xs, 12, $grid-columns, 20px);
    @include col(md, 8);
  }
}

